<div class="spinner-wrapper" *ngIf="isShowLoader">
    <mat-progress-spinner [color]="'primary'" [mode]="'indeterminate'" [diameter]="'50'" [strokeWidth]="'3'"
        [value]="'100'">
    </mat-progress-spinner>
</div>

<div class="view-fare-wrapper">
    <div class="header">
        <h1 class="heading">Fare Matrix details</h1>
        <mat-icon class="icon" (click)="cancel()">clear</mat-icon>
    </div>
    <mat-tab-group animationDuration="0ms" [(selectedIndex)]="selectedTabIndex" (selectedIndexChange)="tabChange()"
        mat-stretch-tabs class="max-stretch">
        <mat-tab label="PreProd">
            <div class="matrix-wrapper" *ngIf="fareList.length">
                <div class="fare-matrix">
                    <div class="matrix-row" *ngFor="let fares of fareList">
                        <div *ngFor="let fare of fares" class="fare">
                            {{fare}}
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!fareList.length && !isShowLoader">
                No Data Found
            </div>
        </mat-tab>
        <mat-tab label="Prod">
            <div class="matrix-wrapper" *ngIf="fareList.length">
                <div class="fare-matrix">
                    <div class="matrix-row" *ngFor="let fares of fareList">
                        <div *ngFor="let fare of fares; let i = index" class="fare">
                            {{fare}}
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!fareList.length && !isShowLoader">
                No Data Found
            </div>
        </mat-tab>
    </mat-tab-group>

    <div class="download-btn">
        <button class="filter-btn" (click)="downloadFare()">Download</button>
        <button class="filter-btn" (click)="uploadFare()" *ngIf="selectedTabIndex === 0">Upload</button>
    </div>
</div>