.mar-bot-34 {
    margin-bottom: 34px;
  }
  
  .csv-wrapper {
    min-width: 452px;
  }
  
  .mediaCapture {
    display: none;
  }
  
  .wrapper {
    margin-top: 38px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 14px;
  }
  
  .btn-wrapper {
    margin-top: 26px;
    float: right;
  
    button {
      margin-left: 16px;
    }
  }
  
  .error-msg {
    color: red;
  }
  
  .heading {
    font-weight: 500;
  }
  
  .guideLines {
    margin-top: 110px;
    background: lightgray;
    font-size: 15px;
    padding: 20px 20px 20px 20px;
  }
  
  .guide-head {
    font-size: 18px;
  }
  
  .guideLinePoints {
    width: 80%;
  }
  
  .heading-text {
    font-size: 25px;
  }